/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Light gray background color */
}

html, body {
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the size as needed */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

main {
    padding: 1rem;
    text-align: center;
    height: calc(100% - 115px); /* Adjust the height based on the header and footer height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #555; /* Dark gray color for the quote text */
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

.buynow {
    background-color: #ff6b6b; /* Coral red background color for the Buy Now button */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
